.container {
  height: calc(100vh - 56px);
  padding: 0 16px 16px 16px;
  overflow-y: scroll;
}

.withErrorInfoBar {
  height: calc(100vh - 96px) !important;
}

.errorInfoBar {
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  vertical-align: center;
  color: #fff;
  background-color: #d93026;
  z-index: 999;
  position: relative;
  top: -16px;
}
